# Node/Next
node_modules/
.next/
.vercel/
out/
dist/
coverage/
.cache/
.turbo/
pnpm-lock.yaml
# env & local stuff
.env
.env.*.local
.env.local
.env.development.local
.env.production.local
.env.test.local
# OS
.DS_Store
